<footer class="fluid-container">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5">
        <div class="col mb-3">
          <p>Isaac Wallace &copy;2024</p>
        </div>
  
        <div class="col mb-3"></div>
  
        <div class="col mb-3">
          <p class="text-light text-uppercase">Legal & Safety</p>
          <hr class="bg-light border-5 border-top border-light">
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: var(--secondary-text-color);">Privacy Policy</a></li>
            <hr class="bg-light my-1 border-1 border-top border-light">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: var(--secondary-text-color);">Terms Of Use</a></li>
            <hr class="bg-light my-1 border-1 border-top border-light">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: var(--secondary-text-color);">DMCA Policy</a></li>
            <hr class="bg-light my-1 border-1 border-top border-light">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: var(--secondary-text-color);">Cookies Policy</a></li>
          </ul>
        </div>
  
        <div class="col mb-3">
          <p class="text-light text-uppercase">Work With Us</p>
          <hr class="bg-light border-5 border-top border-light">
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: var(--secondary-text-color);">Become A Scripter</a></li>
            <hr class="bg-light my-1 border-1 border-top border-light">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: var(--secondary-text-color);">Design The Website</a></li>
          </ul>
        </div>
  
        <div class="col mb-3">
          <p class="text-light text-uppercase">Help & Support</p>
          <hr class="bg-light border-5 border-top border-light">
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: var(--secondary-text-color);">Contact & Support</a></li>
            <hr class="bg-light my-1 border-1 border-top border-light">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: var(--secondary-text-color);">Billing Support</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>